
@import "../var";
@import "../mixins/textMixins";
@import "../mixins/button";
@import "../mixins/brandLogo";

.navigation{
    padding: 0;
    &__container {
        background-color: $primaryColor !important;
        padding-left: 9%;
        padding-right: 9%;
        @media(max-width: 1200px){
            justify-content: flex-end !important;
            padding: 0 2% 1rem 2%;
        }
        &__brand{
            @include brandLogo();
            padding: 2.875rem 0 1rem 0;
            @media(max-width: 1200px){
                padding-top: 1.25rem;
            }
        }
        &__hamburger{
            @media(max-width: 1200px){
                order: 3;
            }
        }
        &__items{
            margin-left: 0;
            margin-right: 3.5rem !important;
            justify-content: flex-end;
            width: 100%;
            gap: 3.5rem;

            &__item{
                @include headline($smallHeadlineFont, $defaultTextColor);
                padding: 0
                
            }
        }
        &__contactButton{
            margin-top: 0.75rem;
            @include button($secondaryColor, 0.25rem 1.125rem, 10px);
            @media(max-width: 1200px){
                margin: 0 auto;
                padding: 4px 8px;
            }
        }
    }
}