@import "../var";
@import "../mixins/textMixins";

.main{
    padding-top: 80px;
    display: flex;
    flex-direction: column;
    gap: 234px;
    @media(max-width: 1200px){
        gap: 100px;
    }
    &__article{
        display: flex;
        justify-content: space-between;
        gap: 20px;
        @media(max-width: 1200px){
            flex-direction: column;
        }
        &__text{
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 34px;
            width: 55%;
            @media(max-width: 1200px){
                width: auto;
            }
            h2{
                @include headline($largeHeadlineFont, $defaultTextColor);
                width: 70%;
                @media(max-width: 1200px){
                    width: auto;
                    font-size: $largeHeadlineFontMobile;
                }
            }
            a{
                @include button(#682C0E, 6px 26px 8px 32px, 10px);
            }
            ul{
                width: max-content;
                li{
                    padding-left: 0.5rem;
                    padding-bottom: 1rem;
                    font-size: 1.5rem;
                    @media(max-width: 1200px){
                        font-size: 1rem;
                    }
                }
            }
        &--reversed{
            margin-left: 60px;
            width: 50%;
            @media(max-width: 1200px){
                margin-left: 0;;
                width: auto;
                order: -1;
            }
        }
        }
        &__image{
            width: 45%;
            @media(max-width: 1200px){
                width: auto;
            }
            
            img{
                width: 100%;
                object-fit: cover;
                height: fit-content;
            }
        }
        
    
    }
}