@font-face{
    font-family: Poppins;
    src: url("/media/Poppins-Regular.ttf");
}
@font-face{
    font-family: Jim Nightshade;
    src: url("/media/JimNightshade-Regular.ttf");
}

$primaryColor: #F9E0AE;
$secondaryColor: #C24914;

$defaultTextColor: #000;
$buttondefaultTextColor: #FFF;

$smallHeadlineFont: 1.25rem;
$largeHeadlineFont: 3rem;

$largeHeadlineFontMobile: 2rem;

