.border-syle-box {
  background-color: lightgray;
  padding: 10px;
  width: fit-content;
  /* width: 600px; */
}
.border-syle-box > div {
  margin: 10px;
  width: 200px;
  color: red;
  text-align: center;
}
div.dotted {
  border-style: dotted;
  border-color: black;
}
div.dashed {
  border-style: dashed;
  border-color: black;
}
div.solid {
  border-style: solid;
  border-color: black;
}
div.double {
  border-style: double;
  border-color: black;
}
div.groove {
  border-style: groove;
  border-color: black;
}
div.ridge {
  border-style: ridge;
  border-color: black;
}
div.insert {
  border-style: inset;
  border-color: black;
}
div.outset {
  border-style: outset;
  border-color: black;
}
