
@font-face{
    font-family: Nunito;
    src: url(../resources/Nunito.ttf);
}

/* header */

.background{
    background-image: url("../resources/background.png");
    background-position: -110% 42%;
    background-size: 120%;
    background-repeat: no-repeat;
}

.background > header{
    padding: 0;
    margin: 0;
    width: 100%;
}

header nav ul{
    flex:auto;
    justify-content: space-between;
}

header > .bg-body-tertiary {
    background-color: inherit !important;
}

header .sideButton{
    border-radius: 30px;
    background: var(--osler-gray-white, #FFF);
    box-shadow: 0px 8px 16px 0px rgba(47, 60, 51, 0.05);

    display: flex;
    width: 80px;
    height: 80px;
    padding: 28px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}
header .centerButton{
    border-radius: 30px;
    background: var(--healing-green-50, #84CC16);
    box-shadow: 0px 16px 32px 0px rgba(132, 204, 22, 0.25);

    display: flex;
    width: 80px;
    height: 80px;
    padding: 22px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
}


body > .container{
    max-width: 1440px;
    padding: 0;
}

/* main */

/* hero section */

.hero > .container > .row{
    padding-left: 8.75rem;
    padding-right: 10.1875rem;
}

.hero > .container > .row > .col{
    padding: 0;
}

.hero .Text > h1{
    color: var(--osler-gray-80, #2F3C33);
    font-family: Nunito;
    font-size: 3.75rem;
    font-style: normal;
    font-weight: 800;
    line-height: 113.333%;
    letter-spacing: -0.1rem;
    margin-top: 5rem;
    margin-bottom: 1.5rem;
}

.hero .Text > h1 > span{
    color: var(--healing-green-50, #84CC16);
}

.hero p{
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: 160%; /* 38.4px */
    letter-spacing: -0,015rem;
}

.hero .elements{
    display: flex;
    justify-content: flex-start;
    margin: 2.5rem 0;
}

.hero .textAndIcon{
    display: flex;
}

.hero .elements > :first-child{
    margin-right: 3rem;
}

.hero .textAndIcon > h5{
    color: var(--osler-gray-60, #647067);
    font-family: Nunito;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    letter-spacing: 0.0875rem;
    text-transform: uppercase;
    padding-left: 0.5rem;
    margin: auto;
}

.hero .downloadAppButton{
    border-radius: 1.5rem;
    background: var(--osler-gray-80, #2F3C33);
    display: flex;
    height: 4rem;
    width: 16.625rem;
    padding: 1rem 2rem;
    justify-content: center;
    align-items: center;
}

.hero .downloadAppButton > h4{
    color: var(--osler-gray-white, #FFF);
    font-family: Nunito;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    letter-spacing: -0.0225rem;
    margin: 0;
    padding-right: 1rem;
}

/* phone */

.hero .phone{
    height: 58.6875rem;
}
.hero .phone > img{
    width: 100%;
    /* max-width: 100%; */
    object-fit: contain;

}