@import "../var";
@import "../mixins/textMixins";


@mixin button($backgroundColor, $padding, $borderRadius){
    background-color: $backgroundColor;
    padding: $padding;
    border-radius: $borderRadius;
    @include headline($smallHeadlineFont, $buttondefaultTextColor);
    width: max-content;
    &:hover{
        transform: scale(1.05);
        box-shadow: 0px 8px 16px 0px $primaryColor;
    }
}